
body{
    background-color: #FFFFFF;
}

.error_main{
    background-color: #E9ECEF;
    width: 100%;
    height: 50%;
    border: 2px rgb(36, 4, 20) solid;
    text-align: center;
}

.titulo{
    text-align: center;
    font-family: 'Lucida Console';
    font-size: 2.5rem;
}