<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../../public/stylesError.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo"><%=title %></h1>

    <div class="error_main">
        <h2 class="titulo2"><%=vacio %></h2>
        <h3>La lista se encuentra vacia</h3>
    </div>
</body>
</html>