<form action="/api/products" method="post">
    <label for="title">Tittle: </label>
    <input type="text" id="title" name="title" placeholder="Title/Name">

    <label for="price">Price: </label>
    <input type="text" id="price" name="price" placeholder="Price/USD">
    
    <label for="thumbnail">URL thumbnail: </label>
    <input type="text" id="thumbnail" name="thumbnail" placeholder="URL /Directory">
    
    <input class= "butn" type="submit" value="ENVIAR PRODUCTO!">

</form>
