body{
    margin: 0;
    padding: 0;
    background-image: url("./Background-Home.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 4rem;
    color: white;
    background-color: rgb(15, 10, 10);
    
}
h2{
    text-align: center;
    font-size: 2rem;
    color: white;
    
}
p{
    color: antiquewhite;
}
section{
    width: 119rem;
    background-image: linear-gradient(
        70deg,
        hsl(240deg 100% 20%) 0%,
        hsl(327deg 24% 37%) 99%,
        hsl(39deg 44% 52%) 101%,
        hsl(55deg 100% 50%) 100%
      );
    opacity: 0.8;
    border: 10px solid red;
    
}

span{
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-solid {
 color: beige;

}

.fa-truck-fast{
    background-color: black;
    border-radius: 90%;

}

#deCompras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px red solid; */
}
#deComprasProducts{
    margin: 10rem auto;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.75);
   

}
.card-products{
    background-color: azure;
    text-align: left;
    width: 20rem;
    color: black;
    border: 1px solid black;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    
   
    
}
#admin-options{

    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 35%;
    
    
}
#admin-options input {
    margin: 0.5rem;
    background-color: rgb(39, 34, 61);
    border-radius: 4px;
    color: white;
    padding: 0.3rem;

   
}

#admin-options label {
    color: antiquewhite;
    font-size: 1.5rem;
}

.title-admin{
    color: bisque;
    font-size: 1.5rem;
}   

#Gproduct{
    width: 50%;
    align-self: center;
    background-color: red;

    
}
#Gproduct:hover{
    background-color: azure;
    color: black;

    
}

.card-products p{
    color: black;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    
}

.card-products img{
    width: 100%;
    margin-bottom: 1.5rem;
    
} 
.temporal{
    width: 60%;
    margin: 0 auto;
}
.temporal:hover{
    background-color: white;
}
.temporal:active{
    transform: scaleY(0.7);
    transition: 0.8s;
}

.addCarrito{
padding: 1rem;
width: 100%;
border-radius: 3px;
background-color: red;
color: white;
margin: 0.2rem;
}
.addCarrito:hover{
background-color: white;
color: black;
}
.addCarrito:active{
  transform: scaleY(0.7);
  transition: 0.8s;
    }

.add{
    display: none;
}
#carritoimg{
    background-color: whitesmoke;
    border-radius: 3rem;
    padding: 1rem 2rem 1rem 1rem;
    margin-left: 20rem;
   
}

#imageadmin{
    position: absolute;
    top: 24.5rem;
}
.verButton{
    position: absolute;
    top: 52rem;
    left:26.35rem;
    padding: 1rem;
    border-radius: 2rem;
    
    
    
}
.verButton:active{
    transform: scaleY(0.7);
    transition: 0.8s;
}
.verButton2:active{
    transform: scaleY(0.7);
    transition: 0.8s;
}
.verButton2{
    position: absolute;
    top: 46.1rem;
    left:47rem;
    padding: 1rem ; 
    border-radius: 2rem;
    width: 7rem;
    display: none;

    
}
.buttonHover:hover{
    background-color: black;
    color: white;
}
#selectCarritotext, #numcarrito{
    display: none;
}
.verButton3{
    position: absolute;
    top: 46.2rem;
    left:26.2rem;
    padding: 1rem ; 
    border-radius: 2rem;
    width: 7.4rem;
    
    }

.verButton4{
    position: absolute;
    top: 46.1rem;
    left:56rem;
    padding: 1rem ; 
    border-radius: 2rem;
    width: 7.5rem;
    display: none;
    }

